.customTooltip {
  background-color: var(--card-background);
  padding: var(--spacing-ms);
  border: 1px solid var(--card-border);
  border-radius: var(--radius-sm);
}

.tooltipLabel {
  margin: 0;
  font-weight: var(--bold-font);
}

.tooltipEntry {
  margin: 0;
}
