.categoryRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-sm);
}

.categoryDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.categoryFooter {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-xs);
}

.smallText {
  font-size: var(--fs-2xs);
}
